body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* .content-container{
    margin: 0;
    padding: 0;
} */

/* Header Section */

header{
    display: flex;
    background-color: #1f2937;
    padding: 0 10%;
    justify-content: space-between;
}

.logo{
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

ul{
    display: flex;
    gap: 30px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 300;
    font-size: 18px;
}

/* Section One */

.section-1{
    display: flex;
    background-color: #1f2937;
    padding: 10% 10%;
    gap: 5%;
}

.section-1-left{
    flex: 1;
}

img{
    flex: 1;
    min-width: 10%;

}

h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: white;
}

p{
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}

button{
    cursor: pointer;
    color: #f9faf8;
    background: #3882f6;
    border-radius: 8px;
    padding: 8px 22px;
    border: none;
}

/* Section Two */


h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 3% 3%;
    text-align: center;
}

.section-2-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 0 10%;
    margin-bottom: 8%;
}

/* .info{
    align-self: flex-end;
} */

div > img{
    width: 60%;
    height: auto;
    padding-bottom: 20px;
    
}

/* Section Three */

.section-3{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10% 10%;
    gap: 10px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.author{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

/* Section Four */

.section-4{
    display: flex;
    justify-content: center;
    padding: 10% 10%;
}

.box{
    display: flex;
    padding: 3% 8%;
    background-color: #3882f6;
    border-radius: 10px;
    gap: 100px;
    
}

.action{
    color: #f9faf8;
    font-weight: 700;
    font-size: 24px;
}

.text{
    color: #f9faf8;
    font-size: 18px;
    font-weight: 300;
}

.button-4{
    align-self: flex-end;
    flex-shrink: 0;
    cursor: pointer;
    color: #f9faf8;
    background: #3882f6;
    border-radius: 8px;
    padding: 8px 22px;
    border: solid #f9faf8;
}